<div class="container">
  <h1 class='text-center top-title font-weight-bold'>ボケ問UNITE</h1>
  <div class="row mt-5">
    <div class="col-10 col-sm-8 col-md-8 col-lg-7 col-xl-6 mx-auto border-top border-bottom border-dark p-2">
      <p>いつでも遊べる大喜利サイト<br>
      クリックして
      </p>
    </div>
  </div>
  
<div class="row mt-5">
  <div class="col-lg-12 col-md-6 col-sm-8 col-12 mx-auto d-flex justify-content-center flex-wrap">

      <div class="item d-flex align-items-center justify-content-center">
        <div class="text-center h3"><i class="fas fa-user"></i><br>
        マイページ
        </div>
      </div>

      <div class="item d-flex align-items-center justify-content-center">
        <div class="text-center h3"><i class="fas fa-users"></i><br>
        メンバー
        </div>
      </div>

      <div class="item d-flex align-items-center justify-content-center">
        <div class="text-center h3"><i class="far fa-object-group fa-lg"></i><br>
        結果
        </div>
      </div>

      <div class="item d-flex align-items-center justify-content-center">
        <div class="text-center h3"><i class="fa fa-commenting-o" aria-hidden="true"></i><br>
        答える
        </div>
      </div>

  </div>
</div>
  
</div>