<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4">
        <p>いつでも遊べる大喜利サイト</p>
        <p class="logo">
          <%= image_tag 'logo.png', size: "50x50" %>
          ボケ問UNITE
        </p>
         <p><small>&copy; 2023 otsuki</small></p>
      </div>
    </div>
  </div>
</footer>